body {
  font-family: "Helvetica", "Lucida Grande", sans-serif;
  color: #3D3D3D;
  width: 80%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  line-height: 1.5;
}
